@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font-size: 100%;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", Times New Roman, serif;
    background-image: url(../images/wood-background.jpg);
    background-size: 14rem;
    background-repeat: repeat;
}

header {
    background-color: #124BB6;
    overflow: hidden;
    background-color: #f9f3d8;
}

img {
	width: 100%;
    display: block;
    overflow: hidden;
}

body {
	margin: 0;
    padding: 0; 
}

.logo {
    height: 8.5rem;
    width: auto;
    margin: 1.5rem 5% 3rem;
}

.billboard {
    overflow: hidden;
    background-image: url(../images/reciepes.jpg);
    background-color: #124BB6;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40rem;
}

h1 {
    margin: 6rem 0;
    font-weight: bold; 
	font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
	background-color: #f9f3d8;
    padding: .25rem 0;
    color: #124BB6;
    text-shadow: 2px 2px white;
}

figure {
    margin: 1rem auto 2rem;
    width: 90%;
}

figcaption {
    font-size: 1.1rem;
    padding: .5rem 5%; 
    background-color: #f9f3d8;
    color: #124BB6;
    text-shadow: 1px 1px white;
}

h2 {
    font-weight: normal;
    font-size: 1.24rem;
    padding: .5rem;
    margin: 1rem 5% 1rem;
}

article {
    overflow: hidden;
    background-color: white;
    margin: 1rem 5% 2rem;
}
  
p {
    margin: 1rem 5% 1rem;
    font-size: 1.24rem;
}

.logo {
    margin: .5rem auto .5rem; 
}

footer {
    overflow: hidden;
    background-color: #f9f3d8;
} 

summary {
    font-size: 1.5rem;
    color: #124BB6;
    font-weight: bold;
    margin: 1rem 5% 1rem;
} 

ul {
    margin: 1rem 5% 1rem;
}

li:hover {
    background-color: #f9f3d8; 
    color:#124BB6; 
}

hr {
    background-color: #f9f3d8;
    height: 3px;
}